.font-viga {
    font-family: "Viga", sans-serif;
}

.font-segoeui8 {
    font-family: "Segoe UI", sans-serif;
    font-size: 8pt;
}

.font-segoeui12{
    font-family: "Segoe UI", sans-serif;
    font-size: 12pt;
}

body {
    background-image: url("img/sev-fundo.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 450px) {
    .sidebar {display: none;}
    .sidebar a {font-size: 18px;}
}

.form {
    background-color: rgba(255,255,255,0.6);
    width: 25%;
    padding: 1.5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    display: "block";
  }

#button-blue-center {
    font-family: "Viga", sans-serif;
    background-color: #0B0B2B;
    border-color: #069CC6;
    color: #069CC6;
    box-sizing: content-box;
    width: 40%;
    border-width: 4px;
    border-radius: 13px;
    
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.sidebar {
    min-width: 250px;
    max-width: 250px;
}

.logo{
    width: 16%;
    display: block;
}

.logo-big{
    width: 30%;
    display: block;
}

.navbar{
    background-color: #0B0B2B;
}
